<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Constraint -->
      <package
            uri="http://hyvar-project.eu/feature/constraint/1.0"
            class="eu.hyvar.feature.constraint.HyConstraintPackage"
            genModel="model/Constraint.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.feature.constraint.factory.HyConstraintFactoryWithIds"
            uri="http://hyvar-project.eu/feature/constraint/1.0">
      </factory>
   </extension>

</plugin>
