<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Constraint -->
      <package
            uri="http://hyvar-project.eu/feature/constraint/1.0"
            class="eu.hyvar.feature.constraint.HyConstraintPackage"
            genModel="model/Constraint.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.feature.constraint.factory.HyConstraintFactoryWithIds"
            uri="http://hyvar-project.eu/feature/constraint/1.0">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="eu.hyvar.feature.constraint.emf.validation"
            name="Constraint Constraints">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://hyvar-project.eu/feature/constraint/1.0">
         </package>
         <constraints
               categories="eu.hyvar.feature.constraint.emf.validation">
            <constraint
                  class="eu.hyvar.feature.constraint.emf.validation.DwReferenceValidityConsistencyConstraint"
                  id="eu.hyvar.feature.constraint.emf.validation.DwReferenceValidityConsistencyConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The following objects have a shorter validity than the constraint itself: {0}
               </message>
               <description>
                  The constraint temporal validity should not be longer than its referencing elements
               </description>
               <target
                     class="HyConstraint">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
