<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.hyvar.feature.graphical.configurator.editor.HyFeatureModelConfiguratorEditor"
            default="false"
            extensions="hyfeature, hyconfigurationmodel"
            icon="icons/icon_standard.png"
            id="eu.hyvar.feature.graphical.configurator.editor"
            name="DarwinSPL Configurator Editor">
      </editor>
   </extension>

</plugin>
