<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.hyvar.feature.graphical.editor.editor.HyGraphicalFeatureModelEditor"
            contributorClass="eu.hyvar.feature.graphical.editor.editor.HyGraphicalFeatureModelEditorActionBarContributor"
            default="true"
            extensions="hyfeature, dwfeaturemodel"
            icon="icons/small.png"
            id="eu.hyvar.feature.graphical.editor.evolution.editor"
            name="DarwinSPL Feature Model Editor">
      </editor>
   </extension>
   <extension
         point="eu.hyvar.feature.expression.FeatureModelEditor">
      <client
            class="eu.hyvar.feature.graphical.editor.eclipse.ActiveFeatureModelEditorSolver">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.darwinspl.wizards"
            class="eu.hyvar.feature.graphical.editor.wizard.FeatureModelWizard"
            id="eu.hyvar.feature.graphical.editor.new_fm_wizard"
            name="DarwinSPL Feature Model">
      </wizard>
   </extension>

</plugin>
