<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.darwinspl.feature.graphical.editor.editor.DwGraphicalFeatureModelEditor"
            contributorClass="de.darwinspl.feature.graphical.editor.editor.DwGraphicalFeatureModelEditorActionBarContributor"
            default="true"
            extensions="hyfeature, dwfeaturemodel"
            icon="icons/icon_standard.png"
            id="eu.hyvar.feature.graphical.editor.evolution.editor"
            name="DarwinSPL Feature Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.darwinspl.wizards"
            class="de.darwinspl.feature.graphical.editor.wizard.DwFeatureModelWizard"
            icon="icons/icon_standard.png"
            id="eu.hyvar.feature.graphical.editor.new_fm_wizard"
            name="DarwinSPL Feature Model">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eu.hyvar.feature.graphical.editor.relatedEditorsToolbar">
            <command
                  commandId="eu.hyvar.feature.graphical.editor.createConstraintFileCommand"
                  icon="icons/icon_constraints.png"
                  label="Create FM Constraints"
                  style="push"
                  tooltip="Create FM Constraints">
            </command>
            <command
                  commandId="eu.hyvar.feature.graphical.editor.createContextInformationFileCommand"
                  icon="icons/icon_context.png"
                  label="Create FM Context Information"
                  style="push"
                  tooltip="Create FM Context Information">
            </command>
            <command
                  commandId="eu.hyvar.feature.graphical.editor.createValidityModelFile"
                  icon="icons/icon_validity.png"
                  label="Create FM Validity Model"
                  style="push"
                  tooltip="Create FM Validity Model">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.darwinspl.feature.graphical.editor.commands.files.DwCreateConstraintCommand"
            id="eu.hyvar.feature.graphical.editor.createConstraintFileCommand"
            name="Create HyConstaint File">
      </command>
      <command
            defaultHandler="de.darwinspl.feature.graphical.editor.commands.files.DwCreateContextInformationCommand"
            id="eu.hyvar.feature.graphical.editor.createContextInformationFileCommand"
            name="Create ContextInformation File">
      </command>
      <command
            defaultHandler="de.darwinspl.feature.graphical.editor.commands.files.DwCreateValidityModelCommand"
            id="eu.hyvar.feature.graphical.editor.createValidityModelFile"
            name="Create ValidityModel File">
      </command>
   </extension>
</plugin>
