<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Feature -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.hyvar.feature.presentation.HyFeatureModelWizardID"
            name="%_UI_HyFeatureModelWizard_label"
            class="eu.hyvar.feature.presentation.HyFeatureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HyFeatureModelFile.gif">
         <description>%_UI_HyFeatureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Feature -->
      <editor
            id="eu.hyvar.feature.presentation.HyFeatureEditorID"
            name="%_UI_HyFeatureEditor_label"
            icon="icons/full/obj16/HyFeatureModelFile.gif"
            extensions="hyfeature"
            class="eu.hyvar.feature.presentation.HyFeatureEditor"
            contributorClass="eu.hyvar.feature.presentation.HyFeatureActionBarContributor">
      </editor>
   </extension>

</plugin>
