<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="eu.hyvar.context.resource.hycontextinformation.mopp.HycontextinformationMetaInformation" id="eu.hyvar.context.resource.hycontextinformation.mopp.HycontextinformationMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.context.resource.hycontextinformation.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.context.resource.hycontextinformation.nature" name="hycontextinformation nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eu.hyvar.context.resource.hycontextinformation.mopp.HycontextinformationNature">
			</run>
		</runtime>
		<builder id="eu.hyvar.context.resource.hycontextinformation.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="eu.hyvar.context.resource.hycontextinformation.builder" name="hycontextinformation Builder">
		<builder hasNature="true">
			<run class="eu.hyvar.context.resource.hycontextinformation.mopp.HycontextinformationBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="eu.hyvar.context.resource.hycontextinformation.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="eu.hyvar.context.resource.hycontextinformation.mopp.HycontextinformationResourceFactoryDelegator" type="hycontextinformation">
		</parser>
	</extension>
	
	<extension-point id="eu.hyvar.context.resource.hycontextinformation.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
