<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ContextInformation -->
      <package
            uri="http://hyvar-project.eu/feature/context/1.0"
            class="eu.hyvar.context.HyContextInformationPackage"
            genModel="model/ContextInformation.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.context.information.factory.HyContextInformationFactoryWithIds"
            uri="http://hyvar-project.eu/feature/context/1.0">
      </factory>
   </extension>

</plugin>
