<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.darwinspl.configurator.Configurator"
            id="de.darwinspl.configurator.configurator"
            name="Generate Configuration with HyVarRec">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
          <definition
            id="de.darwinspl.configurator.configurator.isvisible">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <or>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="hyfeature">
                     </test>
                  </or>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.darwinspl.eclipse.ui.menu">
         
            <command
                  commandId="de.darwinspl.configurator.configurator"
                  label="Generate Configuration with HyVarRec"
                  style="push">
                <visibleWhen
                     checkEnabled="true">  
                    <reference
                        definitionId="de.darwinspl.configurator.configurator.isvisible">
                  	</reference>
                 </visibleWhen>        
            </command>   
      </menuContribution>
   </extension>

</plugin>
