<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataValues -->
      <package
            uri="http://hyvar-project.eu/feature/dataValues/1.0"
            class="eu.hyvar.dataValues.HyDataValuesPackage"
            genModel="model/DataValues.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.feature.data.factory.HyDataValuesFactoryWithIds"
            uri="http://hyvar-project.eu/feature/dataValues/1.0">
      </factory>
   </extension>

</plugin>
