<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ContextInformation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.hyvar.context.presentation.HyContextInformationModelWizardID"
            name="%_UI_HyContextInformationModelWizard_label"
            class="eu.hyvar.context.presentation.HyContextInformationModelWizard"
            category="de.darwinspl.wizards"
            icon="icons/full/obj16/HyContextInformationModelFile.gif">
         <description>%_UI_HyContextInformationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ContextInformation -->
      <editor
            id="eu.hyvar.context.presentation.HyContextInformationEditorID"
            name="%_UI_HyContextInformationEditor_label"
            icon="icons/full/obj16/HyContextInformationModelFile.gif"
            extensions="dwcontextinformation"
            class="eu.hyvar.context.presentation.HyContextInformationEditor"
            contributorClass="eu.hyvar.context.presentation.HyContextInformationActionBarContributor">
      </editor>
   </extension>

</plugin>
