<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DataValues -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.hyvar.dataValues.presentation.HyDataValuesModelWizardID"
            name="%_UI_HyDataValuesModelWizard_label"
            class="eu.hyvar.dataValues.presentation.HyDataValuesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HyDataValuesModelFile.gif">
         <description>%_UI_HyDataValuesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DataValues -->
      <editor
            id="eu.hyvar.dataValues.presentation.HyDataValuesEditorID"
            name="%_UI_HyDataValuesEditor_label"
            icon="icons/full/obj16/HyDataValuesModelFile.gif"
            extensions="hydatavalues"
            class="eu.hyvar.dataValues.presentation.HyDataValuesEditor"
            contributorClass="eu.hyvar.dataValues.presentation.HyDataValuesActionBarContributor">
      </editor>
   </extension>

</plugin>
