<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="de.darwinspl.preferences.resource.dwprofile.mopp.DwprofileMetaInformation" id="de.darwinspl.preferences.resource.dwprofile.mopp.DwprofileMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.darwinspl.preferences.resource.dwprofile.problem">
		</super>
	</extension>
	
	<extension id="de.darwinspl.preferences.resource.dwprofile.nature" name="dwprofile nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="de.darwinspl.preferences.resource.dwprofile.mopp.DwprofileNature">
			</run>
		</runtime>
		<builder id="de.darwinspl.preferences.resource.dwprofile.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="de.darwinspl.preferences.resource.dwprofile.builder" name="dwprofile Builder">
		<builder hasNature="true">
			<run class="de.darwinspl.preferences.resource.dwprofile.mopp.DwprofileBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="de.darwinspl.preferences.resource.dwprofile.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="de.darwinspl.preferences.resource.dwprofile.mopp.DwprofileResourceFactoryDelegator" type="dwprofile">
		</parser>
	</extension>
	
	<extension-point id="de.darwinspl.preferences.resource.dwprofile.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
