<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="eu.hyvar.feature.constraint.resource.hyconstraints.mopp.HyconstraintsMetaInformation" id="eu.hyvar.feature.constraint.resource.hyconstraints.mopp.HyconstraintsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.constraint.resource.hyconstraints.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.constraint.resource.hyconstraints.nature" name="hyconstraints nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eu.hyvar.feature.constraint.resource.hyconstraints.mopp.HyconstraintsNature">
			</run>
		</runtime>
		<builder id="eu.hyvar.feature.constraint.resource.hyconstraints.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="eu.hyvar.feature.constraint.resource.hyconstraints.builder" name="hyconstraints Builder">
		<builder hasNature="true">
			<run class="eu.hyvar.feature.constraint.resource.hyconstraints.mopp.HyconstraintsBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="eu.hyvar.feature.constraint.resource.hyconstraints.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="eu.hyvar.feature.constraint.resource.hyconstraints.mopp.HyconstraintsResourceFactoryDelegator" type="hyconstraints">
		</parser>
	</extension>
	
	<extension-point id="eu.hyvar.feature.constraint.resource.hyconstraints.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
