<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="FeatureModelEditor" name="FeatureModelEditor" schema="schema/FeatureModelEditor.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Expression -->
      <package
            uri="http://hyvar-project.eu/feature/expression/1.0"
            class="eu.hyvar.feature.expression.HyExpressionPackage"
            genModel="model/Expression.genmodel"/>
   </extension>

</plugin>
