<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="eu.hyvar.dataValues.resource.hydatavalue.mopp.HydatavalueMetaInformation" id="eu.hyvar.dataValues.resource.hydatavalue.mopp.HydatavalueMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.dataValues.resource.hydatavalue.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.dataValues.resource.hydatavalue.nature" name="hydatavalue nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eu.hyvar.dataValues.resource.hydatavalue.mopp.HydatavalueNature">
			</run>
		</runtime>
		<builder id="eu.hyvar.dataValues.resource.hydatavalue.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="eu.hyvar.dataValues.resource.hydatavalue.builder" name="hydatavalue Builder">
		<builder hasNature="true">
			<run class="eu.hyvar.dataValues.resource.hydatavalue.mopp.HydatavalueBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="eu.hyvar.dataValues.resource.hydatavalue.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="eu.hyvar.dataValues.resource.hydatavalue.mopp.HydatavalueResourceFactoryDelegator" type="hydatavalue">
		</parser>
	</extension>
	
	<extension-point id="eu.hyvar.dataValues.resource.hydatavalue.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
