<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="fm_for_hyvarrec_server"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.hyvar.reconfigurator.io.rest.WebServer">
         </run>
      </application>
   </extension>
   <extension
         id="fm_for_hyvarrec_server"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.hyvar.reconfigurator.io.rest.fm_for_hyvarrec_server"
            name="FM for HyVarRec REST Web Service">
         <property
               name="appName"
               value="FM for HyVarRec REST Web Service">
         </property>
      </product>
   </extension>

</plugin>
