<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="eu.hyvar.feature.mapping.resource.hymapping.mopp.HymappingMetaInformation" id="eu.hyvar.feature.mapping.resource.hymapping.mopp.HymappingMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.mapping.resource.hymapping.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.mapping.resource.hymapping.nature" name="hymapping nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eu.hyvar.feature.mapping.resource.hymapping.mopp.HymappingNature">
			</run>
		</runtime>
		<builder id="eu.hyvar.feature.mapping.resource.hymapping.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="eu.hyvar.feature.mapping.resource.hymapping.builder" name="hymapping Builder">
		<builder hasNature="true">
			<run class="eu.hyvar.feature.mapping.resource.hymapping.mopp.HymappingBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="eu.hyvar.feature.mapping.resource.hymapping.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="eu.hyvar.feature.mapping.resource.hymapping.mopp.HymappingResourceFactoryDelegator" type="hymapping">
		</parser>
	</extension>
	
	<extension-point id="eu.hyvar.feature.mapping.resource.hymapping.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
