<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Mapping -->
      <package
            uri="http://hyvar-project.eu/feature/mapping/1.0"
            class="eu.hyvar.feature.mapping.MappingPackage"
            genModel="model/Mapping.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.feature.mapping.factory.MappingFactoryWithIds"
            uri="http://hyvar-project.eu/feature/mapping/1.0">
      </factory>
   </extension>

</plugin>
