<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Manifest -->
      <package
            uri="http://hyvar-project.eu/mspl/manifest/1.0"
            class="eu.hyvar.mspl.manifest.ManifestPackage"
            genModel="model/Manifest.genmodel"/>
   </extension>

null   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="eu.hyvar.mspl.emf.validation"
            name="Manifest Validations">
      </category>
      <constraintProvider
            cache="true"
            mode="Live">
         <package
               namespaceUri="http://hyvar-project.eu/mspl/manifest/1.0">
         </package>
         <constraints
               categories="Manifest Validations">
            <constraint
                  class="eu.hyvar.mspl.emf.validation.CheckManifestDates"
                  id="eu.hyvar.mspl.emf.validation.CheckManifestDates"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Check dates in manifest files"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Date: {0} is invalid. {1}
               </message>
               <description>
                  Check the dates in hymanifest files.
               </description>
               <target
                     class="HyTimedImplementations">
               </target>
               <target
                     class="HyTimedImplementationLink">
               </target>
            </constraint>
            <constraint
                  class="eu.hyvar.mspl.emf.validation.CheckManifestDependencies"
                  id="eu.hyvar.mspl.emf.validation.CheckManifestDependencies"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Check the uniqueness of aliases and dependencies"
                  severity="ERROR"
                  statusCode="2">
               <message>
                  The {0} "{1}" is ambiguous or duplicated
               </message>
               <target
                     class="HyTimedDependencies">
               </target>
               <description>
                  Check the uniqueness of aliases and dependencies.
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
