<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Manifest -->
      <package
            uri="http://hyvar-project.eu/mspl/manifest/1.0"
            class="eu.hyvar.mspl.manifest.ManifestPackage"
            genModel="model/Manifest.genmodel"/>
   </extension>

</plugin>
