<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Preferences -->
      <package
            uri="http://hyvar-project.eu/feature/preferences/1.0"
            class="eu.hyvar.preferences.PreferencesPackage"
            genModel="model/Preferences.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.preferences.factory.PreferencesFactoryWithIds"
            uri="http://hyvar-project.eu/feature/preferences/1.0">
      </factory>
   </extension>

</plugin>
