<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="server"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.hyvar.reconfigurator.io.rest.spl_implementation.SplWebServer">
         </run>
      </application>
   </extension>
   <extension
         id="spl_resolver_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.hyvar.reconfigurator.io.rest.spl_implementation.server"
            name="SPL Implementation">
         <property
               name="appName"
               value="SPL Implementation">
         </property>
      </product>
   </extension>

</plugin>
