<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Explanation -->
      <package
            uri="http://darwinspl.de/anomaly/explanation/1.0"
            class="de.darwinspl.anomaly.explanation.DwAnomalyExplanationPackage"
            genModel="model/Explanation.genmodel"/>
   </extension>

</plugin>
