<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ContextValidity -->
      <package
            uri="http://hyvar-project.eu/context/validity/1.0"
            class="eu.hyvar.context.contextValidity.HyContextValidityPackage"
            genModel="model/ContextValidity.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.hyvar.context.contextValidity.factory.HyContextValidityFactoryWithIds"
            uri="http://hyvar-project.eu/context/validity/1.0">
      </factory>
   </extension>

</plugin>
