<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.hyvar.feature.graphical.configurator.editor.HyFeatureModelDeltaModuleConfiguratorEditor"
            default="false"
            extensions="hyconfigurationmodel"
            id="eu.hyvar.feature.graphical.configurator.viewer"
            name="DarwinSPL Configurator Viewer">
      </editor>
   </extension>

</plugin>
