<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="eu.hyvar.feature.expression.resource.hyexpression.mopp.HyexpressionMetaInformation" id="eu.hyvar.feature.expression.resource.hyexpression.mopp.HyexpressionMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="eu.hyvar.feature.expression.resource.hyexpression.problem">
		</super>
	</extension>
	
	<extension id="eu.hyvar.feature.expression.resource.hyexpression.nature" name="hyexpression nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eu.hyvar.feature.expression.resource.hyexpression.mopp.HyexpressionNature">
			</run>
		</runtime>
		<builder id="eu.hyvar.feature.expression.resource.hyexpression.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="eu.hyvar.feature.expression.resource.hyexpression.builder" name="hyexpression Builder">
		<builder hasNature="true">
			<run class="eu.hyvar.feature.expression.resource.hyexpression.mopp.HyexpressionBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="eu.hyvar.feature.expression.resource.hyexpression.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="eu.hyvar.feature.expression.resource.hyexpression.mopp.HyexpressionResourceFactoryDelegator" type="hyexpression">
		</parser>
	</extension>
	
	<extension-point id="eu.hyvar.feature.expression.resource.hyexpression.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
